*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
body div.container{
    text-align: center;
    padding-bottom: 2rem
}
div.container h2{
    letter-spacing: 5px;
}
div.container div.carousel-product{
    margin-top: 2rem;
    padding: 1rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F19820;
}
div div.mc-product{
    width: 23%;
    text-align: center;
    margin: 0 0.2rem;
    padding-bottom: 2rem;
    background-color: #FFFFFF;
    border-radius: 8px;
}
div div.mc-product div.view-product{
    position: relative;
}
div img.img-size{
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
img.off-display{
    position: absolute;
    left: 0px;
    transition: all 0.5s ease;
    cursor: pointer;
}
img.off-display:hover{
    opacity: 0;
}
div.text-product{
    padding-bottom: 3rem;
}
div.text-product p.rate{
    font-size: 20px;
}
div.text-product h3.title-product{
    margin-top: 1rem;
    line-height: 1;
    color: #F19820;
}
div.text-product p.detail-product{
    margin-top: 1rem;
}
div.text-product p.detail-product, div.text-product h3.title-product{
    padding: 0 1rem;
}
.btn{
    padding: 0.8rem 1.5rem;
    width: 120px;
    border-radius: 8PX;
}
div a.buy, div a.care{
    text-align: center;
    background-color: #004AAD;
    color: #F19820;
    transition: all 0.3s ease-in-out;
}
div a.buy:hover{
    background-color: #F19820;
    color: #004AAD;
}
div a.buy span.text-btn{
    font-size: 15px;
}
body div.container .carousel-groom{
    padding: 1rem;
}
div div.carousel-groom{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div div.card-groom{
    width: 85%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    align-items: center;
    background-color: #ffff;
    -webkit-border-radius: 1;
    -moz-border-radius: 1;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0.01rem 0.4rem #F19820;
    -moz-box-shadow: 0 0.01rem 0.4rem #F19820;
    box-shadow: 0 0.01rem 0.4rem #F19820;
}
div div.card-groom.left{
    flex-direction: row;
    text-align: right;
}
div div.card-groom.right{
    flex-direction: row-reverse;
    text-align: left;
}
div div.imagebody{
    width: 35%;
}
div div.textbody{
    width: 40%;
}
div.imagebody img{
    width: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
div div.textbody.ltext{
    padding-left: 5rem;
}
div div.textbody.rtext{
    padding-right: 5rem;
}
div.container div.carousel-care{
    padding: 5rem;
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
div.carousel-care div.img-care,div.carousel-care div.txt-care{
    width: 50%;
}
div.carousel-care div.img-care img{
    width: 100%;
}
div.carousel-care div.txt-care p{
    padding-bottom: 5rem;
}
div a.care:hover{
    background-color: #F19820;
    color: #004AAD;   
}